AUTH0_DOMAIN=dev-d2aaa0e71t2ivhsp.us.auth0.com
AUTH0_AUDIENCE=https://api.uteach
GEMINI_API_KEY=AIzaSyCGXvvzQBE99zqxOeTWxd9bxvvq6QI1IYk
GEMINI_MODEL=gemini-1.5-pro
GOOGLE_APPLICATION_CREDENTIALS=backend/engineer-guild-hackathon-b30d596c7fa8.json
CORS_ORIGINS=http://localhost:5173
